# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
secrets.yml
.DS_Store

# Ignore node_modules
/node_modules/

# Ignore precompiled assets in development
/public/assets/

# Ignore master key for encrypting credentials and more.
/config/master.key

# Ignore pid files, but keep the directory
/tmp/pids/
!/tmp/pids/
/tmp/pids/*.pid

# Ignore cache files
/tmp/cache/
!/tmp/cache/
/tmp/cache/*

# Ignore sockets
/tmp/sockets/
!/tmp/sockets/
/tmp/sockets/*.socket

# Ignore uploads stored locally in development
/storage/*
!/storage/.keep

/public/uploads

# Ignore test, spec, and cypress artifacts
/tmp/test/
/tmp/spec/
/tmp/cypress/

# Ignore .byebug_history
.byebug_history
